/* ESTILO DE CORES DO TEMA CLARO */
body.light {
  background-color: var(--body-light-color);
  transition: all 0.5s;
}
.light #bg-gradient-top-1 {
  background: radial-gradient(46.97% 53.54% at 50% 46.46%, var(--tertiary-light-color) -50%, var(--body-light-color) 100%), var(--footer-light-color);

}
.light #bg-gradient-top-2 {
  background: radial-gradient(97% 53.54% at 50% 46.46%, var(--tertiary-light-color) -500%, var(--body-light-color) 100%), linear-gradient(45deg, var(--body-light-color), var(--footer-light-color)), var(--secondary-light-color);

}
.light hr {
  color: var(--secondary-light-color);
  background-color: var(--secondary-light-color);
  border: 1px solid var(--secondary-light-color);
}
.light .logo img {
  filter: invert();
}
.light header nav.menu-desktop a{
  color: var(--secondary-light-color);
}
.light header nav.menu-desktop a:hover {
  color: var(--secondary-light-color);
}
.light .btn-abrir-menu i {
  color: var(--secondary-light-color);
}
.light .txt-topo-site h1 {
  color: var(--primary-light-color);
}
.light .txt-topo-site p {
  color: var(--primary-light-color); 
}
.light span.txt-name {
  color: var(--secondary-light-color);
}
.light .container-txt span.fist-text {
  color: var(--secondary-light-color);
}
.light .photo-topo-dark {
  display: none;
}
.light .photo-topo-light {
  display: block;
}
.light .txt-topo.sec-text {
  color: var(--secondary-light-color);
  border-color: var(--secondary-light-color);
}
.light button.buttons {
  box-shadow: var(--secondary-light-color) 0px 7px 0px 0px;
  transition: all 0.3s ease;
}
.light .buttons:active{
  box-shadow: none;
  transform: translateY(7px);
  transition: all 0.5s ease;
}
.light .title-about {
  color: var(--primary-light-color);
}
.light .description-about-me p {
  color: var(--secondary-light-color);
}
.light .tech span {
  color: var(--secondary-light-color);
}
.light h2.titulo {
  color: var(--primary-light-color);
}
.light .carousel-indicators [data-bs-target] {
  background-color: var(--secondary-light-color);
}
.light .title-work-block h3 {
  color: var(--primary-light-color);
}
.light .description-work-block span {
  color: var(--secondary-light-color);
}
.light .block-desk, .light .block-mobile {
  border: 3px solid var(--primary-light-color);
  background-color: var(--body-light-color);
}
.light .github-repositorio:hover {
  background-color: var(--body-light-color);
  color: var(--secondary-light-color);
}
.light footer {
  background-color: var(--footer-light-color);
}
.light .logo-footer a img {
  filter: invert();
}
.light .btn-footer a {
  color: var(--secondary-light-color);
}
.light .btn-nav a::after {
  background: var(--primary-light-color);
}
.light .copyright {
  background-color: var(--footer-light-color);
}
.light .copyright h3 {
  color: var(--secondary-light-color);
}
